.board {
  &__table {
    margin: 0 auto;
    border-spacing: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &--not-clickeable {
      pointer-events: none;
    }
  }

  &__cell {
    width: 32px;
    height: 32px;
    max-height: 32px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    background-color: #d5d5d5;
    border-left: 3px solid #fbfbfb;
    border-top: 3px solid #fbfbfb;
    border-right: 3px solid #959595;
    border-bottom: 3px solid #959595;
    vertical-align: middle;

    img {
      width: 15px;
      display: block;
      margin: auto;
    }

    &--burst {
      background-color: #ff0000 !important;
    }

    &--S,
    &:active {
      background-color: #bdbdbd;
      border: 1px solid #959595;
    }

    &--1 {
      color: #0101ff;
    }
    &--2 {
      color: #007b00;
    }
    &--3 {
      color: #ff0101;
    }
    &--4 {
      color: #00007b;
    }
    &--5 {
      color: #7b0000;
    }
  }
}
