<div class="board">
  <table class="board__table">
    <tbody>
      <tr *ngFor="let cells of board">
        <td *ngFor="let cell of cells"
            (click)="showValueCell(cell)"
            class="board__cell board__cell--{{cell.status}}  board__cell--{{cell.value}} blinker-bold">
          <span *ngIf="cell.value > 0 && cell.status == 'S'">{{cell.value}}</span>
          <img *ngIf="cell.status == 'M'"
               src="/presentation/assets/img/flag.svg"
               alt="flag"
               aria-label="Marcado">
        </td>
      </tr>
    </tbody>
  </table>
</div>